@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%;
  /* 1rem=16px*/ }

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #504f4f; }

.t1 {
  /*en yüksek font genişliği*/
  font-family: 'Nunito',sans-serif;
  color: #17015d;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3; }
  .t1 span {
    display: block; }

.t4 {
  font-size: 1.1rem; }

.s1 {
  /* orijinal font genişliğinde küçük*/ }

.button {
  padding: 1.25rem 3rem;
  text-transform: uppercase;
  border-radius: 5rem;
  background-color: #3dbe71;
  color: #fff;
  border: none;
  font-size: 0.7rem;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  outline: none;
  /*tıklanınca çizgi olmasın*/ }
  .button span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;
    /* ease in yavaş başla hızlan*/ }
    .button span:last-child {
      transform: translate(-50%, 0%);
      top: 100%;
      opacity: 0; }
  .button:hover, .button:active {
    background-color: #3dbe71; }
    .button:hover span, .button:active span {
      opacity: 0; }
      .button:hover span:last-child, .button:active span:last-child {
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 1; }
  .button--middle {
    font-size: 0.9rem;
    padding: 1.5rem 7rem; }

.navigation {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__nav {
    flex: 0 0 80%; }
  .navigation__list {
    flex: 0 0 80%;
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .navigation__link {
    position: relative; }
    .navigation__link::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0;
      height: 3px;
      background-color: #3dbe71;
      transition: all .3s ease-in; }
    .navigation__link:link, .navigation__link:visited {
      font-size: .8rem;
      color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 800; }
    .navigation__link:hover::after, .navigation__link:active::after {
      width: 100%; }

.social-nav__list {
  list-style: none;
  display: flex; }

.social-nav__link, .social-nav__link:link, .social-nav__link:visited {
  padding: .5rem;
  text-decoration: none; }

.social-nav__link:hover svg, .social-nav__link:active svg {
  fill: #17015d; }

.social-nav__icon {
  width: 1rem;
  height: 1rem;
  fill: #3dbe71; }

.header {
  min-height: 8rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .header__social-nav {
    position: absolute;
    right: 8%;
    top: 5%; }

.sec-info {
  padding: 9rem 7rem 1rem 8rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sec-info__container {
    height: 100%;
    display: flex;
    justify-content: center; }
  .sec-info__left {
    flex: 0 0 50%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
  .sec-info__right {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .sec-info__img {
    width: 90%;
    height: 90%; }
