@charset "UTF-8";
@keyframes anim-nav-bottom {
  0% {
    top: 0;
    opacity: 0; }
  100% {
    top: 2rem;
    opacity: 1;
    visibility: visible; } }

@keyframes anim-nav-button-line {
  0% {
    background-color: #fff; }
  100% {
    background-color: transparent; } }

@keyframes anim-nav-button-line-before {
  0% {
    transform: translateY(0); }
  30% {
    transform: translateY(6px); }
  100% {
    transform: translateY(6px) rotate(-45deg); } }

@keyframes anim-nav-button-line-after {
  0% {
    transform: translateY(0); }
  30% {
    transform: translateY(-6px); }
  100% {
    transform: translateY(-6px) rotate(45deg); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* 

mobile dikey  -   (0-375px)
mobile yatay -    (376-480)

tablet dikey-      (481-768)
tablet yatay & laptop-     (769px-1024px)*

masaüstü - (1025-1200px)



*/
html {
  font-size: 100%;
  /* 1rem=16px*/ }
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 90%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #504f4f; }

.t1 {
  /*en yüksek font genişliği*/
  font-family: 'Nunito',sans-serif;
  color: #17015d;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3; }
  @media only screen and (max-width: 1024px) {
    .t1 {
      font-size: 2rem; } }
  @media only screen and (max-width: 768px) {
    .t1 {
      font-size: 1.5rem; } }
  .t1 span {
    display: block; }

.t2 {
  font-family: 'Nunito',sans-serif;
  font-size: 2rem;
  color: #17015d; }
  .t2--green {
    color: #3dbe71; }
  .t2--white {
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4); }

.t3 {
  font-size: 1.2rem;
  color: #17015d; }

.t4 {
  font-size: 1.1rem; }
  @media only screen and (max-width: 768px) {
    .t4 {
      font-size: .9rem; } }

.s1 {
  font-size: .9rem;
  color: #909090;
  line-height: 1.7;
  /* orijinal font genişliğinde küçük*/ }

.u-float-right {
  float: right !important; }

.u-text-align-right {
  text-align: right !important; }

.button {
  padding: 1.25rem 3rem;
  text-transform: uppercase;
  border-radius: 5rem;
  background-color: #3dbe71;
  color: #fff;
  border: none;
  font-size: 0.7rem;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  outline: none;
  /*tıklanınca çizgi olmasın*/ }
  .button span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;
    /* ease in yavaş başla hızlan*/ }
    .button span:last-child {
      transform: translate(-50%, 0%);
      top: 100%;
      opacity: 0; }
  .button:hover, .button:active {
    background-color: #3dbe71; }
    .button:hover span, .button:active span {
      opacity: 0; }
      .button:hover span:last-child, .button:active span:last-child {
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 1; }
  .button--middle {
    font-size: 0.9rem;
    padding: 1.5rem 7rem; }
  .button--big {
    font-size: 0.9rem;
    padding: 2rem 8rem; }
  .button--pink {
    background-color: #ee4266; }
    .button--pink:hover {
      background-color: rgba(238, 66, 102, 0.4); }
  .button--purple {
    background-color: #540d6e; }
    .button--purple:hover {
      background-color: rgba(84, 13, 110, 0.4); }

.card {
  height: 80%;
  width: 30%;
  border-radius: 4px;
  box-shadow: 0 2rem 2.5rem rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  flex-direction: column; }
  .card__top {
    flex: 0 45%;
    background-image: linear-gradient(to right bottom, rgba(61, 190, 113, 0.9), rgba(163, 235, 177, 0.7));
    border-radius: 4px 4px 0px 0px;
    padding: 3rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
  .card__img {
    width: 4rem;
    height: 4rem;
    fill: #fff; }
  .card__texts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    line-height: 1; }
  .card__title {
    font-size: 1.2rem;
    letter-spacing: 2px; }
  .card__price {
    font-family: 'Nunito,san-serif';
    font-weight: 800;
    font-size: 2.7rem; }
    .card__price sup {
      font-size: .8rem; }
  .card__text {
    font-size: 1rem; }
  .card__bottom {
    flex: 0 55%;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .card__list {
    list-style: none;
    width: 80%; }
  .card__item {
    color: #9e9e9e;
    padding-top: 1rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between; }
    .card__item span:last-child {
      font-weight: bold; }
    .card__item:last-child {
      border-bottom: none; }
  .card:nth-child(2) {
    transform: scale(1.1);
    position: relative; }
    .card:nth-child(2)::before {
      position: absolute;
      content: url("../imgs/badge.png");
      right: 10%;
      top: 33%;
      z-index: 10;
      transform: scale(1.3); }
    .card:nth-child(2)::after {
      content: "En \a Popüler";
      white-space: pre;
      position: absolute;
      right: 11%;
      top: 35%;
      z-index: 15;
      color: #fff;
      font-weight: 300;
      font-size: .9rem;
      line-height: 1.2;
      letter-spacing: 1.5px;
      text-align: center; }
  .card--pink {
    background-image: linear-gradient(to right bottom, #ee4266, rgba(232, 136, 156, 0.3)); }
  .card--purple {
    background-image: linear-gradient(to right bottom, rgba(84, 13, 110, 0.8), rgba(83, 45, 97, 0.2)); }

.comment {
  height: 23rem;
  width: 20%;
  position: relative; }
  .comment__img {
    width: 6rem;
    height: 7rem;
    border-radius: 50%;
    box-shadow: -4px 3px 4px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 5%;
    top: -12%;
    z-index: 10; }
  .comment__shadow {
    height: 100%;
    -webkit-filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5)); }
  .comment__content {
    height: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 25% 100%, 0 75%);
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .comment__content::before {
      content: url("../imgs/left-quote.png");
      position: absolute;
      left: 3%;
      top: 0%;
      transform: scale(0.7);
      opacity: .4; }
  .comment__text {
    width: 100%;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #504f4f;
    text-align: justify;
    margin-top: 1rem; }
  .comment__author {
    width: 100%;
    font-family: 'Nunito,san-serif';
    font-weight: 200;
    font-size: .8rem;
    letter-spacing: 1px;
    text-align: right; }
  .comment:nth-child(2), .comment:nth-child(4) {
    align-self: flex-end; }

.contact-info {
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 768px) {
    .contact-info {
      height: 80%; } }
  @media only screen and (max-width: 480px) {
    .contact-info {
      height: 85%; } }
  .contact-info__list {
    height: 100%;
    list-style: none;
    font-weight: 300;
    color: #909090;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .contact-info__list {
        flex-wrap: wrap;
        justify-content: center; } }
    @media only screen and (max-width: 480px) {
      .contact-info__list {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between; } }
    .contact-info__list--vertical {
      height: 100%;
      flex-direction: column;
      justify-content: space-around; }
  .contact-info__item {
    flex: 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .contact-info__item {
        flex: 0 34%; } }
  .contact-info__icon {
    margin-bottom: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    fill: #3dbe71; }
    @media only screen and (max-width: 480px) {
      .contact-info__icon {
        margin-bottom: 0; } }

.counter {
  height: 20rem;
  width: 22%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .counter__icon {
    width: 3rem;
    height: 3rem;
    fill: #fff; }
  .counter__num {
    font-family: 'Nunito,san-serif';
    font-size: 2.5rem;
    font-weight: 200;
    color: #fff;
    letter-spacing: -2px; }
  .counter__name {
    font-family: 'Nunito,san-serif';
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff; }

.form {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .form__heading {
    font-family: "Nunito,san-serif";
    font-weight: 200;
    font-size: 2.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3dbe71; }
  .form__input {
    font-family: "Nunito,san-serif";
    font-size: 1.1rem;
    width: 80%;
    padding: .8rem 1rem;
    margin: .8rem;
    border: none;
    border: 1px solid #3dbe71;
    transition: all .1s; }
    .form__input:focus {
      border: 2px solid #3dbe71;
      outline: none; }
  .form__message {
    font-family: "Nunito,san-serif";
    font-size: 1.1rem;
    width: 80%;
    padding: .8rem 1rem;
    margin: .8rem;
    border: none;
    border: 1px solid #3dbe71;
    transition: all .1s;
    resize: none; }
    .form__message:focus {
      border: 2px solid #3dbe71;
      outline: none; }

.navigation {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  @media only screen and (max-width: 768px) {
    .navigation {
      width: 100%; } }
  .navigation__checkbox {
    position: absolute;
    display: none; }
  .navigation__button {
    visibility: hidden;
    display: block;
    position: absolute;
    background-color: #3dbe71;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 4px;
    height: 2rem;
    width: 2.5rem;
    border-radius: 2px; }
    @media only screen and (max-width: 768px) {
      .navigation__button {
        visibility: visible; } }
  .navigation__line {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 1.4rem;
    height: 2.5px;
    background-color: #fff; }
    .navigation__line::before, .navigation__line::after {
      content: " ";
      position: absolute;
      left: 0;
      width: 1.4rem;
      height: 2.5px;
      background-color: #fff; }
    .navigation__line::before {
      top: -6px; }
    .navigation__line::after {
      top: 6px; }
  .navigation .nav-top {
    flex: 0 0 75%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .navigation .nav-top {
        display: none; } }
    .navigation .nav-top__list {
      flex: 0 0 80%;
      list-style: none;
      display: flex;
      justify-content: space-around; }
    .navigation .nav-top__link {
      position: relative; }
      .navigation .nav-top__link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 3px;
        background-color: #3dbe71;
        transition: all 0.3s ease-in; }
      .navigation .nav-top__link:link, .navigation .nav-top__link:visited {
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none; }
      .navigation .nav-top__link:hover::after, .navigation .nav-top__link:active::after {
        width: 100%; }
  .navigation .nav-bottom {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 2rem;
    width: 100%;
    height: 24rem;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    @supports (-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px)) {
      .navigation .nav-bottom {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        background-color: rgba(0, 0, 0, 0.4); } }
    .navigation .nav-bottom__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
    .navigation .nav-bottom__link, .navigation .nav-bottom__link:link, .navigation .nav-bottom__link:visited {
      display: block;
      font-size: 1.2rem;
      text-decoration: none;
      color: #fff;
      padding: 0.5rem 0;
      letter-spacing: 2px;
      text-transform: uppercase; }
    .navigation .nav-bottom__link:hover, .navigation .nav-bottom__link:active {
      color: #17015d; }
  .navigation__checkbox:checked ~ .nav-bottom {
    display: flex;
    animation: anim-nav-bottom 0.4s ease-in 0.2s;
    animation-fill-mode: forwards; }
  .navigation__checkbox:checked + .navigation__button .navigation__line {
    animation: anim-nav-button-line 0.3s;
    animation-fill-mode: forwards; }
  .navigation__checkbox:checked + .navigation__button .navigation__line::before {
    animation: anim-nav-button-line-before 0.5s;
    animation-fill-mode: forwards; }
  .navigation__checkbox:checked + .navigation__button .navigation__line::after {
    animation: anim-nav-button-line-after 0.5s;
    animation-fill-mode: forwards; }

.social-nav__list {
  list-style: none;
  display: flex; }

.social-nav__link, .social-nav__link:link, .social-nav__link:visited {
  padding: .5rem;
  text-decoration: none; }

.social-nav__link:hover svg, .social-nav__link:active svg {
  fill: #17015d; }

.social-nav__icon {
  width: 1rem;
  height: 1rem;
  fill: #3dbe71; }

.social-nav--big {
  margin-top: .5rem; }
  .social-nav--big .social-nav__icon {
    width: 1.1rem;
    height: 1.1rem;
    fill: #3dbe71; }
  .social-nav--big .social-nav__item {
    margin-right: 3px; }
  .social-nav--big .social-nav__link {
    display: flex;
    justify-content: center;
    align-items: center; }
    .social-nav--big .social-nav__link, .social-nav--big .social-nav__link:link, .social-nav--big .social-nav__link:visited {
      border: 2px solid #3dbe71;
      border-radius: 50%; }
    .social-nav--big .social-nav__link:hover, .social-nav--big .social-nav__link:active {
      background-color: #3dbe71;
      border: 2px solid rgba(23, 1, 93, 0.7); }
      .social-nav--big .social-nav__link:hover svg, .social-nav--big .social-nav__link:active svg {
        fill: #fff; }

.header {
  width: 100%;
  min-height: 8rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .header__logo {
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 768px) {
      .header__logo {
        left: 15%; } }
    @media only screen and (max-width: 529px) {
      .header__logo {
        left: 23%; } }
    @media only screen and (max-width: 355px) {
      .header__logo {
        left: 30%; } }
  .header__social-nav {
    position: absolute;
    right: 10%;
    top: 3%; }
    @media only screen and (max-width: 768px) {
      .header__social-nav {
        right: 1%; } }

.footer {
  height: 25rem;
  box-shadow: 3px 3px 7px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 768px) {
    .footer {
      height: 30rem; } }
  @media only screen and (max-width: 480px) {
    .footer {
      height: 45rem; } }
  .footer__top {
    flex: 0 85%;
    background-color: #ececec;
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .footer__top {
        padding: 0 0 2rem 0; } }
    @media only screen and (max-width: 480px) {
      .footer__top {
        flex: 1;
        padding: 0;
        justify-content: space-around; } }
  .footer__contact {
    flex: 0 50%;
    width: 90%;
    border-bottom: 1px solid rgba(61, 190, 113, 0.5); }
    @media only screen and (max-width: 768px) {
      .footer__contact {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; } }
  .footer__links {
    width: 60%;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .footer__links {
        width: 85%; } }
    @media only screen and (max-width: 518px) {
      .footer__links {
        /*contrent breakpoint*/
        width: 87%; } }
    @media only screen and (max-width: 480px) {
      .footer__links {
        /*contrent breakpoint*/
        flex-wrap: wrap;
        height: 50%;
        width: 98%;
        margin-top: 5rem; } }
  .footer__container {
    flex: 0 33%;
    display: flex;
    flex-direction: column; }
  @media only screen and (max-width: 480px) {
    .footer {
      /*contrent breakpoint*/ }
      .footer__container:last-child {
        flex: 0 100%; } }
  .footer__header {
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    line-height: 1.5; }
  .footer__underline {
    display: block;
    width: 3rem;
    height: 2px;
    background-color: #3dbe71; }
  .footer__list {
    list-style: none;
    line-height: 2;
    margin-top: 1rem; }
  .footer__item {
    position: relative;
    text-indent: 1.5rem; }
    .footer__item::before {
      content: url(../imgs/sign.png);
      position: absolute;
      left: -5%;
      top: 0;
      transform: scale(0.4); }
  .footer__link, .footer__link:link, .footer__link:visited {
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 300;
    color: #909090; }
  .footer__link:hover, .footer__link:active {
    color: #3dbe71; }
  .footer__bottom {
    flex: 1;
    background-color: #5db380;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 480px) {
      .footer__bottom {
        flex: 0 10%; } }
  .footer__copyright {
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.8); }

.container-contactus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contactus {
  height: 40rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .contactus__left {
    flex: 0 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .contactus__right {
    flex: 1;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.7); }

.sec-info {
  padding: 9rem 7rem 1rem 8rem;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 768px) {
    .sec-info {
      height: 55vh;
      padding: 1rem 3rem; } }
  @media only screen and (max-width: 480px) {
    .sec-info {
      height: 70vh;
      padding: 1rem; } }
  .sec-info__container {
    height: 100%;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 480px) {
      .sec-info__container {
        flex-direction: column-reverse; } }
  .sec-info__left {
    flex: 0 0 50%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
    @media only screen and (max-width: 768px) {
      .sec-info__left {
        flex: 0 0 40%;
        height: 75%; } }
    @media only screen and (max-width: 480px) {
      .sec-info__left {
        flex: 0 0 30%;
        align-items: center;
        text-align: center; } }
  .sec-info__right {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 480px) {
      .sec-info__right {
        height: 10%; } }
  .sec-info__img {
    width: 90%;
    height: 90%; }

.sec-features {
  min-height: 55rem;
  padding: 7rem,6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .sec-features__top {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .sec-features__bottom {
    min-height: 32rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .sec-features__feature {
    height: 13rem;
    width: 25.2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify; }
  .sec-features__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #3dbe71; }

.sec-workflow {
  height: 100vh;
  padding: 4rem 0 2rem 0;
  background-color: #e3f5eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .sec-workflow__top {
    height: 7rem;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
  .sec-workflow__bottom {
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .sec-workflow__left {
    flex: 0 0 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
  .sec-workflow__box {
    width: 70%;
    height: 10rem; }
  .sec-workflow__line-box {
    flex: 1;
    /*geri kalan boşlukları doldur*/
    height: 100%;
    display: flex;
    justify-content: center; }
  .sec-workflow__line {
    width: 4px;
    height: 100%;
    background-color: #e3a396;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .sec-workflow__circle {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: #e3a396; }
  .sec-workflow__right {
    flex: 0  48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center; }
  .sec-workflow__icon {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 4px solid #e3a396;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    shape-outside: circle(50%);
    float: left;
    margin: 0 1rem; }
  .sec-workflow__heading {
    letter-spacing: 1px;
    margin-bottom: .5rem; }

.sec-counter {
  height: 58rem;
  padding: 3rem 6rem;
  background-image: linear-gradient(to bottom, rgba(227, 163, 150, 0.6), rgba(227, 163, 150, 0.5)), url("../../imgs/counter-bg-2000.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: space-around; }
  .sec-counter__container {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .sec-counter__top {
    width: 85%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sec-counter__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.sec-card {
  height: 60rem;
  padding: 4rem 5rem 2rem 5rem;
  background-color: #edeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .sec-card__cards {
    width: 100%;
    flex: 0 90%;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.sec-idea {
  height: 45rem;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5)), url(../imgs/sec-idea-bg-2000.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .sec-idea__text {
    font-family: 'Nunito,san-serif';
    font-weight: 200;
    font-size: 3.5rem;
    color: #fff;
    letter-spacing: 2px; }

.sec-comment {
  height: 50rem;
  padding: 4rem 3rem;
  background-color: rgba(180, 187, 189, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .sec-comment__top {
    flex: 0 10%;
    display: flex;
    justify-content: center; }
  .sec-comment__bottom {
    flex: 0 90%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
