@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%;
  /* 1rem=16px*/ }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.button {
  padding: 1.25rem 3rem;
  text-transform: uppercase;
  border-radius: 5rem;
  background-color: #3dbe71;
  color: #fff;
  border: none;
  font-size: .7rem;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  outline: none;
  /*tıklanınca izgi olmasın*/ }
  .button span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s ease-in;
    /* ease in yavaş başla hızlan*/ }
    .button span:last-child {
      transform: translate(-50%, 0%);
      top: 100%;
      opacity: 0; }
  .button:hover, .button:active {
    background-color: #5db380; }
    .button:hover span, .button:active span {
      opacity: 0; }
      .button:hover span:last-child, .button:active span:last-child {
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 1; }

.navigation {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__nav {
    flex: 0 0 80%; }
  .navigation__list {
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .navigation__link, .navigation __link:link, .navigation __link:visited {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800; }

.social-nav__list {
  list-style: none;
  display: flex; }

.social-nav__link {
  padding: .5rem; }

.social-nav__icon {
  width: 1rem;
  height: 1rem;
  fill: #5db380; }

.header {
  min-height: 8rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .header__social-nav {
    position: absolute;
    right: 10%;
    top: 5%; }
