.card{

height: 80%;
width: 30%;
border-radius: 4px;
box-shadow: 0 2rem 2.5rem rgba($color-black, .2);
background-color: white;

display: flex;
flex-direction: column;


@media only screen and (max-width:768px){ 

  
    height: 45%; 
    width: 45%;

         
  }

  
@media only screen and (max-width:480px){ 

 
    height: 32%;   
    width: 70%;

         
  }


    
@media only screen and (max-width:375px){ 

 
    width: 90%;
   
         
  }

&__top{

flex: 0 45%;
background-image: linear-gradient(to right bottom,rgba($color-primary,.9),rgba(#a3ebb1,.7));
border-radius: 4px 4px 0px 0px;
padding: 3rem 0;
clip-path: polygon(0 0,100% 0,100% 85%,0 100%); 

display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;


@media only screen and (max-width:480px){ 

       

    padding: 2rem 0;

         
  }

}

&__img{

    width: 4rem;
    height: 4rem;
    fill:$color-white;

    @media only screen and (max-width:480px){ 

       
        width: 3.5rem;
        height: 3.5rem;
    
             
      }

}

&__texts{


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:$color-white;
    line-height: 1;

    
}

&__title{

    font-size: 1.2rem;
    letter-spacing: 2px;


    @media only screen and (max-width:480px){ 

 
        font-size: 1rem;
        letter-spacing: 1px;
    
             
      }

}

&__price{

font-family: 'Nunito,san-serif';
font-weight: 800;
font-size: 2.7rem;
sup{

    font-size: .8rem;
}

@media only screen and (max-width:480px){ 

 
    font-size: 2rem;

         
  }


}

&__text{
 
    font-size: 1rem;

}

&__bottom{

    flex:0 55%;
   
    border-radius: 0px 0px 4px 4px;


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

&__list{

    list-style: none;
    width: 80%;


}

&__item{

color:#9e9e9e;
padding-top: 1rem;
border-bottom: 1px solid #ddd;
display: flex;
justify-content: space-between;



span:last-child{

    font-weight: bold;

}

&:last-child{

    border-bottom: none;
}

}


&:nth-child(2){

transform: scale(1.1);
position: relative;
  



@media only screen and (max-width:768px){ 

  
    transform: scale(1);
    
             
             
}


&::before{

position: absolute;
content:url("../imgs/badge.png");
right:10%;
top: 33%;
z-index: 10;
transform: scale(1.3);

@media only screen and (max-width:768px){ 


    transform: scale(1);
             
             
}





}

&::after{

    content: "En \a Popüler";
    white-space: pre;
    position: absolute;
    right: 11%;
    top:35%;
    z-index: 15;

    color: $color-white;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: center;

    @media only screen and (max-width:1024px){ 


      
        right: 12%;  
        top:36%;
             
             
      }


      @media only screen and (max-width:480px){ 


      
        right: 13%;  
        top:38%;
             
             
      }


}


}


&--pink{

background-image: linear-gradient(to right bottom,rgba(#ee4266,1),rgba(#e8889c,.3));




}
&--purple{

    background-image: linear-gradient(to right bottom,rgba(#540d6e,.8),rgba(#532d61,.2));

}
    


}