.navigation{
  
    width: 75%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
 
 
   &__nav{

    flex:0 0 80%;
   


   }


   &__list{

    flex:0 0 80%;
    list-style: none;
  ;

    display: flex;
    justify-content: space-between;


   }



   &__link{

     position: relative;

     &::after{

      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0;
      height: 3px;
      background-color: $color-primary;
      transition: all .3s ease-in;

     }

     &:link,&:visited{
   
        font-size: .8rem;
        color:rgba($color-black, .5);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 800;
        
   
   }


   &:hover,
   &:active{

        &::after{


          width: 100%;
     }


   }
   


}}




