
 

  
.social-nav{
  
    &__list{
  
  
        list-style: none;
      
    
        display: flex;
        
    }
    
    &__item{
    
    
    }
    
    &__link{
    
    text-decoration: none;
    
    }




  }
  
  

