
 

  
.social-nav{
  
    &__list{
  
  
        list-style: none;
         
    
        display: flex;
        
       
        
    }
    
    &__item{
    
    
    }
    
    &__link{
      
      
   

      &,
      &:link,
      &:visited{

        padding: .5rem;
        text-decoration: none;
         

      }


      &:hover,
      &:active{

       svg{
      
        fill:#17015d;

       }

      }
    
    }


    &__icon{

        width: 1rem;
        height: 1rem;
        fill:#5db380;
    }




  }
  
  

