
 

  
.social-nav{
  
    &__list{
  
  
        list-style: none;
         
    
        display: flex;
        
       
        
    }
    
    &__item{
    
    
    }
    
    &__link{
      
      
      padding: .5rem;
    
    }


    &__icon{

        width: 1rem;
        height: 1rem;
        fill:#5db380;
    }




  }
  
  

