.t1{
                     /*en yüksek font genişliği*/
font-family: 'Nunito',sans-serif;
color:#17015d;
font-size: 2.3rem;
font-weight: 800;
line-height: 1.3;

span{

    display: block;
}
}
.t2{

    
}
.t3{

    
}

.t4{

 font-size: 1.1rem;


}
.s1{

                      /* orijinal font genişliğinde küçük*/
}
.s2{

    
}