.sec-info{


    height: 40rem;
    padding: 10rem 5rem 1rem 6rem;



    display: flex;
    justify-content: center;
    align-items: center;


 &__container{



    display: flex;
    justify-content: space-between;
    align-items: center;

 }

 &__left{

flex: 0 0 50%;


 }

 &__right{

    flex: 0 0 50%;



 }

 &__img{

width: 80%;
height: 80%;


 }


}