.sec-info {
  padding: 9rem 7rem 1rem 8rem;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  &__left {
    flex: 0 0 50%;

    height: 45%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__right {
    flex: 0 0 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 85%;
    height: 85%;
  }
}


.sec-features{

 min-height: 55rem;
 padding: 7rem,6rem;



 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;




  &__top{

  width: 70%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between


  }

  &__bottom{
   
   min-height: 32rem;;
   width: 70%;

   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
 


  }


  &__feature{

   height: 13rem;
   width: 25.2%;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   text-align: justify;

  }


  &__icon{

    width:2.5rem;
    height: 2.5rem;
    fill: $color-primary;
    
    }
    


}

.sec-workflow{


 height: 100vh;
 padding:4rem 0 2rem 0;
 background-color:#e3f5eb;
 
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;

&__top{

height: 7rem;
width: 70%;
text-align: center;


display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}


&__bottom{



height: 75%;

display: flex;
justify-content: space-between;
align-items: center;


}

&__left{

  flex: 0 0 48%;

  height: 100%;

display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-end;

}
&__box{

  width: 70%;
  height: 10rem;


  

  
  }

&__line-box{

  flex: 1;  /*geri kalan boşlukları doldur*/

  height: 100%;

 display: flex;
 justify-content: center;
}

&__line{

width: 4px;
height: 100%;
background-color: #e3a396;

display: flex;
flex-direction: column;
justify-content: space-around;
align-items:center ;

}

&__circle{

display: block;
width: 1.3rem;
height: 1.3rem;
border-radius: 50%;
background-color: #e3a396;

}


&__right{

  flex: 0  48%;
  height: 100%;


  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;

  

}

&__icon{

width: 7rem;
height: 7rem;
border-radius: 50%;
border:4px solid #e3a396;
box-shadow: 2px 2px 5px rgba($color-black, $alpha: 0.4);
shape-outside: circle(50%);
float: left;
margin: 0 1rem;


}

&__heading{

  letter-spacing:1px ;
  margin-bottom: .5rem;
}


}