.footer{

   height: 25rem;
   box-shadow:3px 3px 7px 10px rgba($color-black, .2) ;

   display: flex;
   flex-direction: column;


   &__top{

    flex: 0 85%;
    background-color: #ececec;
    padding: 0 2rem 2rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;





   }

   &__contact{

      flex: 0 50%;
      width: 90%;
      border-bottom: 1px solid rgba(61, 190, 113, 0.5);
 
      display: flex;
      justify-content: space-around;
      align-items: center;
      
   }

   &__links{

  

      width: 60%;
    

      display: flex;
     justify-content: space-between;

   

   }

   &__container{

  flex:0 20%;


  display: flex;
  flex-direction: column;

  


   }

  &__header{

   font-size: 1.2rem;
   font-family: "Nunito", sans-serif;
   font-weight: 200;
   line-height: 1.5;
 
  }

  &__underline{

   display: block;
   width: 3rem;
   height: 2px;
   background-color:$color-primary;


  }

  &__list{

   list-style: none;
   line-height: 2;
   margin-top: 1rem;
  

  }

  &__item{

   
   position: relative;
   text-indent: 1.5rem;

   &::before{

      content: url(../imgs/sign.png);
      position: absolute;
      left: -5%;
      top: 0;
      transform: scale(0.4);
 

   }

  }
  &__link{

  &,
  &:link,
  &:visited{

   text-decoration: none;
   letter-spacing: 1px;
   font-weight: 300;
   color: #909090;
  }

   &:hover,
   &:active{

      color:$color-primary;
   }

  }
   &__bottom{

   flex:1;
   background-color:#5db380 ;

    
   display: flex;
   justify-content: center;
   align-items: center;
 
   }

   &__copyright{


   font-size: .8rem;
   font-weight: 600;
   letter-spacing: 1px;
   color:rgba($color-white, .8);


   }



}