 
  .header{
  
  
    min-height: 8rem;

    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;

     
&__logo{



}

&__social-nav{

    position: absolute;
    right: 8%;
    top:5%
    
    }
    




}
